*{padding: 0;
	margin: 0;
	
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/yup.png);
	height: 100vh;
 	background-size: cover;
 	background-position: center;
}


.second ul{
 	float: right;
 }

.second li{
	display: inline-block;

    margin-top: 20px;
}
 a{
  	font-family:TAHOMA;
  	text-decoration:none;
  	padding: 5px 15px;
  	color: white;
  	font-weight: 100;
    border: 2px solid white transparent;
    margin: 10px;
    text-align: center;
    font-size: 17px;
    transition: 0.6s ease;

  }
  a:hover{
  	background-color: black;
  	color: white;
  }
  .cont a{
 	background-color: black;
  	color: white;
 }

 .contact h2{
 	padding: 40px;
 	padding-top: 150px;
 	text-align: center;
 	text-decoration: underline;
 }
.category ul{
	padding:10px;
	
}
 .category li{
 	color: black; 
 	text-align: center;
 	padding-bottom: 20px;
    font-size:20px;
    font-family: century gothic;

 }


